extends layout

block content
  // functions
  - function dayDuration(streak) { Math.floor((streak.endDate - streak.startDate) / (1000*60*60*24)); console.log(streak.endDate)}
  h1= title
  p Welcome to #{title}

  div(id="date")
  
  section(class="content")
  a(id="start")
    button() Start
  h3 No Fap
  - currentStreak = streak_list[streak_list.length-1]
  h4 Current Streak: #{dayDuration(currentStreak)}
  h4 Streaks
  each streak in streak_list
    li #{streak.id} Streak of #{dayDuration(streak)} days from #{streak.startDate} to #{streak.endDate}
  div(class="meter")
    span(class="progress", style="width: 25%")
  button() Break
  h3 Sleep
  div(class="meter orange nostripes")
    span(class="progress", style="width: 33.3%")
  button() Break
  h3 RSI
  div(class="meter red")
    span(class="progress", style="width: 80.0%")
  button() Break
block scripts
  script(type="text/javascript", src="/scripts/progressBars.js")
